<div class="header">
  	<div class="head"></div>
  	<div class="nav">
  		<div class="menus">
  			<ul>
  				<li class="active">
  					<a href="#">test1</a>
  				</li>
  				<li>
  					<a href="#">test2</a>
  				</li>
  			</ul>
  		</div>
  	</div>
</div> 