<div class="header">
  	<div class="head"></div>
  	<div class="nav">
  		<div class="normal-width menus">
  			<ul>
  				<li  <%if(type == 1){%> class="active" <%}%> >
  					<a href="/">笑话</a>
  				</li>
  				<li <%if(type == 2){%> class="active" <%}%>>
  					<a href="/img/1">图片</a>
  				</li>
          <li class="right"><a href="#">反馈</a></li>
          <li class="right"><a href="#">登录</a></li>
          <li class="right"><a href="#">投稿</a></li>
  			</ul>
  		</div>
  	</div>
</div> 