<div class="poplogin">
	<div class="pop-header">
		<span class="left">登录</span>
		<span class="right close">
			<a href="javascript:;">取消</a>
		</span>
	</div>

	<div class="pop-content">
		<ul>
			<li class="weibo">
				<a href="javascript:;">微博登陆</a>
			</li>

			<li class="qq">
				<a href="javascript:;">QQ登录</a>
			</li>

			<li class="weixin">
				<a href="javascript:;">微信登陆</a>
			</li>
	        
		</ul>
	</div>
</div>