<div class="normal-width outer-wrapper">
	<div class="maincontent-wrapper left">
		<div class="content">
			<ul id="list">
				<!-- <li>
					
				</li> -->
				<li>
					<div class="item-wrapper">
						<div class="item-header">
							<img class="user-img left" src="http://p3.pstatp.com/thumb/178200067e23f0deb94a"/>
							<div class="name-time-wrapper left">
								<span class="name">Vampire帅爷</span>
								<span class="time timeago" title="03-17 21:11">
									03-17 21:11
								</span>
							</div>
						</div>
						<div class="item-content-wrapper">
							<p>不知道各位段友们有没有觉得段子已经不是原来带给我们各种快乐的段子了。现在的段子动不动就是什么考智商的，找亮点的，相亲的，耍朋友的。在这里我请你们这种辣鸡滚出段子。你要考智商去最强大脑啊，你要找亮点，去玩（找你妹啊），你要相亲找男朋友去非诚勿扰啊。请你们可以不就可以别来祸害我们段子，段子是给我们快乐的地方。我知道可能会有人喷我，但我不介意，我相信会有很多段友支持我。
							</p>
						</div>

						<div class="item-footer">
							<ul>
								<li>
									<span class="sprite up"></span>
									<span>4651</span>
								</li>

								<li>
									<span class="sprite down"></span>
									<span>111</span>
								</li>

								<li>
									<span class="sprite star"></span>
									<span>111</span>
								</li>
	
								<li class="right">
									<span class="sprite share"></span>
									<span>111</span>
								</li>

								<li class="right">
									<span class="sprite msg"></span>
									<span>111</span>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div class="item-wrapper">
						<div class="item-header">
							<img class="user-img left" src="http://p3.pstatp.com/thumb/178200067e23f0deb94a"/>
							<div class="name-time-wrapper left">
								<span class="name">Vampire帅爷</span>
								<span class="time timeago" title="03-17 21:11">
									03-17 21:11
								</span>
							</div>
						</div>
						<div class="item-content-wrapper">
							<%if(type == 2){%> 
								<div class="title">
									<p>测试你纯洁度的时候到了</p>
								</div>
								<div class="img-wrapper">
				
								<img alt="" style="width:480px;height:416px;" data-echo="http://p1.pstatp.com/large/193f0002abe7d1e5cdc6">
								
								</div>
							<% }%>
							
						</div>

						<div class="item-footer">
							<ul>
								<li>
									<span class="sprite up"></span>
									<span>4651</span>
								</li>

								<li>
									<span class="sprite down"></span>
									<span>111</span>
								</li>

								<li>
									<span class="sprite star"></span>
									<span>111</span>
								</li>
	
								<li class="right">
									<span class="sprite share"></span>
									<span>111</span>
								</li>

								<li class="right">
									<span class="sprite msg"></span>
									<span>111</span>
								</li>
							</ul>
						</div>
					</div>
				</li>

			</ul>


			<div class="pagination" id="pagination">
				<a href="#" class="page-prev sprite" alt="上一页" title="上一页"></a>
				<a href="#" class="current sprite circle">1</a>
				<a href="#" class="sprite circle">2</a>
				<a href="#" class="sprite circle">3</a>
				<a href="#" class="sprite circle">4</a>
				<a href="#" class="sprite circle">5</a>
				<a href="#" class="sprite circle">6</a>
				<a href="#" class="sprite circle">7</a>
				<a href="#" class="sprite circle">8</a>
				<a href="#" class="sprite circle">9</a>
				<a href="#" class="sprite circle">10</a>
				<a href="#" class="page-prev sprite" alt="上一页" title="上一页"></a>
			</div>


		</div>
	</div>
	<div class="minor-wrapper right">111</div>
</div>