.header{
	background: #6090ff;
	border-bottom: 1px solid #2d78f4;
    height: 107px;

    .head{
    	height:67px;
    	width: 100%;
    }

    .nav{
    	height: 40px;
    	background-color:#222;
    	width: 100%;
    }
}