/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:bf5dba96cc027b8a1494493b373cac56$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(icon.png);}

.circle {width:34px; height:34px; background-position: -2px -2px}
.circle-h {width:34px; height:34px; background-position: -2px -38px}
.down {width:18px; height:18px; background-position: -22px -102px}
.down-h {width:18px; height:18px; background-position: -42px -102px}
.msg {width:18px; height:18px; background-position: -22px -82px}
.msg-h {width:18px; height:18px; background-position: -42px -82px}
.share {width:18px; height:18px; background-position: -2px -74px}
.share-h {width:18px; height:18px; background-position: -2px -94px}
.star {width:18px; height:18px; background-position: -38px -42px}
.star-h {width:18px; height:18px; background-position: -38px -62px}
.up {width:18px; height:18px; background-position: -38px -2px}
.up-h {width:18px; height:18px; background-position: -38px -22px}
