/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:374d9ea8f8b5c00117fe0222cf2f6109$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(icon.png);}

.down {width:18px; height:18px; background-position: -42px -42px}
.down-h {width:18px; height:18px; background-position: -2px -62px}
.msg {width:18px; height:18px; background-position: -2px -42px}
.msg-h {width:18px; height:18px; background-position: -22px -42px}
.share {width:18px; height:18px; background-position: -22px -22px}
.share-h {width:18px; height:18px; background-position: -42px -22px}
.star {width:18px; height:18px; background-position: -42px -2px}
.star-h {width:18px; height:18px; background-position: -2px -22px}
.up {width:18px; height:18px; background-position: -2px -2px}
.up-h {width:18px; height:18px; background-position: -22px -2px}
